{% load thumbnail %}
<section class="block contact">

    {% if instance.call_to_action %}
    <div class="call_to_action">
        {{ instance.call_to_action | safe }}
    </div>
    {% endif %}

    <ul class="contact">
        {% for contact in instance.items.all %}
        <li>
            {% if contact.mail %}
            <a href="mailto:{{ contact.mail }}" title="{{ contact.title }}" target="_blank" >
            {% else %}
            <a href="{{ contact.url }}" title="{{ contact.title }}" target="_blank" >
            {% endif %}
                <div class="inside">
                    <div class="front" style="background: #{{ contact.bgcolor }}">
                        {% if contact.icon %}
                        {% thumbnail contact.icon 100x100 upscale as thumb %}
                        <img src="{{ thumb.url }}" title="{{ contact.title }}" alt="{{ contact.title }}"/>
                        {% else %}
                        <i class="fa {{ contact.fa }}"></i>
                        {% endif %}
                    </div>
                    <div class="back" style="background: #{{ contact.bgcolor }}">
                        <p>{{ contact.title|safe }}</p>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>