.sound {
    
    margin-bottom: 20px;
    
    .under-sound {
        margin: 20px;
        margin-bottom: 0;
        padding-bottom: 20px;

        .show-disqus {
            margin-top: 20px;
            display: block;
        }

        .meta {
            color: #aaa;
            margin: 35px 0 15px;
            font-size: 0.9em;
        }
    }
}