.biography {

    .img-wrapper {
        height: 150px;
        width: 170px;
        float: left;
        position: relative;
    }
    img {
        @include border-radius(5px 0 0 5px);
        position: absolute;
        top: 0;
        left: 0;
    }
    .description {
        margin: 0 20px;
        padding: 1px 0;
    }
}