{% extends "newsletter_admin/base.html" %}

{% block content %}
<h1>Open Rate</h1>

<div class="percent good" title="Open Rate" data-toggle="tooltip" data-placement="top">
    <p class="percent-label bg-success"><i class="fa fa-envelope"></i></p><!--
         --><p class="percent-value"><span>{{ open_rate_last|floatformat:"0" }}</span>%</p>
</div>
<div class="percent average bad" title="Average" data-toggle="tooltip" data-placement="bottom">
    <p class="percent-label"><i class="fa fa-external-link-square"></i></p><!--
         --><p class="percent-value"><span>{{ open_rate_average|floatformat:"0" }}</span>%</p>
</div>

{% if ids %}
<h1>Evolution</h1>
<canvas id="trend" width="300" height="250"></canvas>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/countUp.js"></script>

{% if ids %}
<script type="text/javascript" src="{{ STATIC_URL }}js/Chart.js"></script>
<script type="text/javascript">
            ids = {{ ids|safe }};
            recipients = {{ recipients }};
            readers = {{ readers }};

</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/newsletter/stats.js"></script>
{% endif %}
{% endblock %}