/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_modern-less.scss */
html, body, #sb-site {
  height: 100%;
}

/* line 5, ../sass/_modern-less.scss */
body {
  color: white;
  font-family: "Poiret One", Arial, sans-serif;
  font-weight: bold;
}
/* line 12, ../sass/_modern-less.scss */
body #sb-site {
  box-shadow: 3px 0px 18px black;
  overflow: auto;
}
/* line 16, ../sass/_modern-less.scss */
body #sb-site #wrapper {
  position: relative;
  padding-bottom: 100px;
}
/* line 21, ../sass/_modern-less.scss */
body #sb-site header {
  text-align: center;
}
/* line 24, ../sass/_modern-less.scss */
body #sb-site header h1, body #sb-site header nav {
  display: inline-block;
  vertical-align: top;
}
/* line 28, ../sass/_modern-less.scss */
body #sb-site header h1 {
  margin: 100px 0;
  max-width: 100%;
}
/* line 32, ../sass/_modern-less.scss */
body #sb-site header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 36, ../sass/_modern-less.scss */
body #sb-site header h1 a img {
  max-width: 100%;
}
/* line 42, ../sass/_modern-less.scss */
body #sb-site header > a {
  display: none;
}
@media only screen and (min-width: 241px) and (max-width: 858px) {
  /* line 42, ../sass/_modern-less.scss */
  body #sb-site header > a {
    display: inline-block;
    font-size: 2em;
    padding: 55px 20px;
    position: absolute;
    right: 0;
  }
}
/* line 54, ../sass/_modern-less.scss */
body #sb-site header nav {
  position: absolute;
  right: 0;
  top: -5px;
  text-align: right;
  width: 81%;
}
@media only screen and (min-width: 241px) and (max-width: 858px) {
  /* line 54, ../sass/_modern-less.scss */
  body #sb-site header nav {
    width: 100%;
    background: black;
    display: none;
  }
}
/* line 67, ../sass/_modern-less.scss */
body #sb-site header nav li {
  display: inline-block;
}
/* line 70, ../sass/_modern-less.scss */
body #sb-site header nav li:hover:nth-child(odd) a {
  background: url(../img/el1.png) 40% 2px no-repeat;
  background-size: 94px auto;
}
/* line 74, ../sass/_modern-less.scss */
body #sb-site header nav li:hover:nth-child(even) a {
  background: url(../img/el2.png) 40% 8px no-repeat;
  background-size: 89px auto;
}
/* line 79, ../sass/_modern-less.scss */
body #sb-site header nav li:first-child a {
  padding-left: 45px;
  background-position: right center;
  background-size: 120px auto;
}
/* line 84, ../sass/_modern-less.scss */
body #sb-site header nav li:first-child:hover a, body #sb-site header nav li:first-child a.active {
  background: url(../img/first-menu-el3.png) 0px 15px no-repeat;
  background-size: 120px auto;
}
/* line 88, ../sass/_modern-less.scss */
body #sb-site header nav li:last-child a {
  padding-right: 45px;
  background-position: left center;
}
/* line 92, ../sass/_modern-less.scss */
body #sb-site header nav li:last-child:hover a, body #sb-site header nav li:last-child a.active {
  background: url(../img/last-menu-el2.png) no-repeat right 15px;
  background-size: 120px auto;
}
/* line 97, ../sass/_modern-less.scss */
body #sb-site header nav li a {
  display: block;
  padding: 50px 0px 50px;
  background-position: center center;
  background: url(../img/placeholder.png);
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 105, ../sass/_modern-less.scss */
body #sb-site header nav li a span {
  color: #aaa;
  padding: 16px 25px 15px;
  min-width: 55px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.2em;
  font-weight: bold;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@media only screen and (min-width: 241px) and (max-width: 858px) {
  /* line 105, ../sass/_modern-less.scss */
  body #sb-site header nav li a span {
    font-size: .8em;
    min-width: 0px;
    padding: 16px 15px 15px;
  }
}
/* line 125, ../sass/_modern-less.scss */
body #sb-site header nav li a:hover span, body #sb-site header nav li a.active span {
  color: white;
  text-shadow: 0px 0px 10px white;
}
/* line 133, ../sass/_modern-less.scss */
body #sb-site #wrap {
  margin: 0px auto;
  max-width: 1700px;
}
@media only screen and (max-width: 240px) {
  /* line 139, ../sass/_modern-less.scss */
  body #sb-site #wrap .container-fluid {
    padding: 4px;
  }
  /* line 142, ../sass/_modern-less.scss */
  body #sb-site #wrap .col-xs-1, body #sb-site #wrap .col-sm-1, body #sb-site #wrap .col-md-1, body #sb-site #wrap .col-lg-1, body #sb-site #wrap .col-xs-2,
  body #sb-site #wrap .col-sm-2, body #sb-site #wrap .col-md-2, body #sb-site #wrap .col-lg-2, body #sb-site #wrap .col-xs-3, body #sb-site #wrap .col-sm-3,
  body #sb-site #wrap .col-md-3, body #sb-site #wrap .col-lg-3, body #sb-site #wrap .col-xs-4, body #sb-site #wrap .col-sm-4, body #sb-site #wrap .col-md-4,
  body #sb-site #wrap .col-lg-4, body #sb-site #wrap .col-xs-5, body #sb-site #wrap .col-sm-5, body #sb-site #wrap .col-md-5, body #sb-site #wrap .col-lg-5,
  body #sb-site #wrap .col-xs-6, body #sb-site #wrap .col-sm-6, body #sb-site #wrap .col-md-6, body #sb-site #wrap .col-lg-6, body #sb-site #wrap .col-xs-7,
  body #sb-site #wrap .col-sm-7, body #sb-site #wrap .col-md-7, body #sb-site #wrap .col-lg-7, body #sb-site #wrap .col-xs-8, body #sb-site #wrap .col-sm-8,
  body #sb-site #wrap .col-md-8, body #sb-site #wrap .col-lg-8, body #sb-site #wrap .col-xs-9, body #sb-site #wrap .col-sm-9, body #sb-site #wrap .col-md-9,
  body #sb-site #wrap .col-lg-9, body #sb-site #wrap .col-xs-10, body #sb-site #wrap .col-sm-10, body #sb-site #wrap .col-md-10, body #sb-site #wrap .col-lg-10,
  body #sb-site #wrap .col-xs-11, body #sb-site #wrap .col-sm-11, body #sb-site #wrap .col-md-11, body #sb-site #wrap .col-lg-11, body #sb-site #wrap .col-xs-12,
  body #sb-site #wrap .col-sm-12, body #sb-site #wrap .col-md-12, body #sb-site #wrap .col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (min-width: 241px) and (max-width: 858px) {
  /* line 139, ../sass/_modern-less.scss */
  body #sb-site #wrap .container-fluid {
    padding: 4px;
  }
  /* line 142, ../sass/_modern-less.scss */
  body #sb-site #wrap .col-xs-1, body #sb-site #wrap .col-sm-1, body #sb-site #wrap .col-md-1, body #sb-site #wrap .col-lg-1, body #sb-site #wrap .col-xs-2,
  body #sb-site #wrap .col-sm-2, body #sb-site #wrap .col-md-2, body #sb-site #wrap .col-lg-2, body #sb-site #wrap .col-xs-3, body #sb-site #wrap .col-sm-3,
  body #sb-site #wrap .col-md-3, body #sb-site #wrap .col-lg-3, body #sb-site #wrap .col-xs-4, body #sb-site #wrap .col-sm-4, body #sb-site #wrap .col-md-4,
  body #sb-site #wrap .col-lg-4, body #sb-site #wrap .col-xs-5, body #sb-site #wrap .col-sm-5, body #sb-site #wrap .col-md-5, body #sb-site #wrap .col-lg-5,
  body #sb-site #wrap .col-xs-6, body #sb-site #wrap .col-sm-6, body #sb-site #wrap .col-md-6, body #sb-site #wrap .col-lg-6, body #sb-site #wrap .col-xs-7,
  body #sb-site #wrap .col-sm-7, body #sb-site #wrap .col-md-7, body #sb-site #wrap .col-lg-7, body #sb-site #wrap .col-xs-8, body #sb-site #wrap .col-sm-8,
  body #sb-site #wrap .col-md-8, body #sb-site #wrap .col-lg-8, body #sb-site #wrap .col-xs-9, body #sb-site #wrap .col-sm-9, body #sb-site #wrap .col-md-9,
  body #sb-site #wrap .col-lg-9, body #sb-site #wrap .col-xs-10, body #sb-site #wrap .col-sm-10, body #sb-site #wrap .col-md-10, body #sb-site #wrap .col-lg-10,
  body #sb-site #wrap .col-xs-11, body #sb-site #wrap .col-sm-11, body #sb-site #wrap .col-md-11, body #sb-site #wrap .col-lg-11, body #sb-site #wrap .col-xs-12,
  body #sb-site #wrap .col-sm-12, body #sb-site #wrap .col-md-12, body #sb-site #wrap .col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
  }
}
/* line 154, ../sass/_modern-less.scss */
body #sb-site #wrap .row {
  margin: 40px 0;
}
/* line 157, ../sass/_modern-less.scss */
body #sb-site .sb-slidebar li a {
  padding: 20px 15px 20px 15px;
  display: block;
  text-transform: uppercase;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.2em;
  font-weight: bold;
  -moz-transition-property: color, text-shadow, padding-left;
  -o-transition-property: color, text-shadow, padding-left;
  -webkit-transition-property: color, text-shadow, padding-left;
  transition-property: color, text-shadow, padding-left;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #aaa;
  border-bottom: 1px solid #333;
}
/* line 169, ../sass/_modern-less.scss */
body #sb-site .sb-slidebar li a:hover, body #sb-site .sb-slidebar li a.active {
  padding-left: 40px;
  color: white;
  background: url(../img/skull.png) no-repeat 12px center/15px auto;
  text-shadow: 0px 0px 10px white;
}
/* line 177, ../sass/_modern-less.scss */
body #sb-site a, body #sb-site a:visited, body #sb-site a:focus {
  color: #47a0ff;
  text-decoration: none;
  border: none;
  outline: none;
  -moz-transition-property: text-shadow, text-decoration;
  -o-transition-property: text-shadow, text-decoration;
  -webkit-transition-property: text-shadow, text-decoration;
  transition-property: text-shadow, text-decoration;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 185, ../sass/_modern-less.scss */
body #sb-site a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 10px #47a0ff;
}
/* line 190, ../sass/_modern-less.scss */
body #sb-site section.block {
  background: rgba(10, 10, 10, 0.8);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 197, ../sass/_modern-less.scss */
body #sb-site p {
  margin: 15px 0;
  line-height: 1.2em;
  text-align: justify;
}
/* line 203, ../sass/_modern-less.scss */
body #sb-site .errorlist {
  color: red;
}
/* line 5, ../sass/contact/_contact.scss */
body #sb-site .contact .call_to_action {
  padding: 20px;
}
/* line 7, ../sass/contact/_contact.scss */
body #sb-site .contact .call_to_action p:first-child {
  margin: 0;
}
/* line 11, ../sass/contact/_contact.scss */
body #sb-site .contact ul {
  text-align: center;
  padding: 0 0 15px;
}
/* line 15, ../sass/contact/_contact.scss */
body #sb-site .contact ul li {
  display: inline-block;
  margin: 4px 2% 4px 0;
  width: 28%;
  max-width: 100px;
  min-width: 90px;
}
/* line 21, ../sass/contact/_contact.scss */
body #sb-site .contact ul li:first-child {
  margin-left: 2%;
}
/* line 25, ../sass/contact/_contact.scss */
body #sb-site .contact ul li a {
  display: block;
  height: 100px;
  text-align: center;
  perspective: 800px;
  position: relative;
  color: white;
  text-shadow: 0 0 0 white;
}
/* line 34, ../sass/contact/_contact.scss */
body #sb-site .contact ul li a:hover .inside {
  transform: rotateY(-180deg);
  text-shadow: 0 0 0 white;
}
/* line 39, ../sass/contact/_contact.scss */
body #sb-site .contact ul li a .inside {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
/* line 46, ../sass/contact/_contact.scss */
body #sb-site .contact ul li a .inside div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #444;
}
/* line 54, ../sass/contact/_contact.scss */
body #sb-site .contact ul li a .inside div i {
  font-size: 2.5em;
  margin-top: 30px;
}
/* line 58, ../sass/contact/_contact.scss */
body #sb-site .contact ul li a .inside div p {
  font-size: 1.1em;
  margin-top: 40px;
  text-align: center;
}
/* line 64, ../sass/contact/_contact.scss */
body #sb-site .contact ul li a .inside div.back {
  transform: rotateY(180deg);
  word-wrap: break-word;
  padding: 0 5px;
}
/* line 1, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block {
  padding: 10px 20px;
}
/* line 5, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block input[type="hidden"] + p {
  margin-top: 10px;
}
/* line 6, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block p {
  margin-top: 15px;
  margin-bottom: 0px;
}
/* line 9, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block p:first-child {
  margin-top: 0;
}
/* line 13, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block p.call-to-action {
  margin: 10px 0 20px;
  text-align: justify;
}
/* line 18, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block label {
  display: none;
}
/* line 21, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block input {
  background: none;
  border: 2px solid #555;
  padding: 5px;
  line-height: 1.1em;
  font-size: 1.1em;
  width: 100%;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 31, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block input:hover {
  border-color: #888;
}
/* line 35, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block button[type="submit"] {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 15px 10px;
  background: #0067D6;
  border: none;
  font-weight: bold;
  font-size: 1.3em;
  -moz-transition-property: background, text-shadow;
  -o-transition-property: background, text-shadow;
  -webkit-transition-property: background, text-shadow;
  transition-property: background, text-shadow;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 47, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block button[type="submit"]:hover {
  background: #0078FA;
  text-shadow: rgba(255, 255, 255, 0.7) 0 0 5px;
}
/* line 53, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block .success_message {
  text-align: center;
  margin: 10px 0 20px;
}
/* line 57, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block .success_message .icon {
  font-size: 4em;
  padding: 5px 0px 10px;
  background: #0067d6;
}
/* line 62, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block .success_message .icon + p {
  margin: 30px 0 30px !important;
}
/* line 64, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block .success_message p strong {
  font-weight: bold;
  font-size: 1.5em;
}
/* line 65, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block .success_message p {
  margin-top: 20px;
}
/* line 67, ../sass/newsletter/_newsletter.scss */
body #sb-site .newsletter.block .success_message p:first-child {
  margin-top: 0;
}
/* line 1, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app {
  text-align: center;
  padding: 10px;
  background: rgba(10, 10, 10, 0.8);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px !important;
}
/* line 8, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app header {
  display: inline-block;
  vertical-align: top;
}
/* line 11, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app header h1 {
  margin: 0;
}
/* line 13, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app header h1 img {
  width: 300px;
}
/* line 18, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app article {
  max-width: 500px;
  margin: 0 auto;
  display: inline-block;
}
/* line 23, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app article > * {
  margin: 20px 0;
}
/* line 24, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app article > section {
  margin: 0;
  padding: 0 !important;
  background: none;
  text-align: left;
}
/* line 31, ../sass/newsletter/_app.scss */
body #sb-site .newsletter-app article h1 {
  font-size: 2em;
  font-weight: bold;
}
/* line 1, ../sass/title_divider/_title_divider.scss */
body #sb-site h1.title-divider {
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.4em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.9) 0 0 10px, rgba(0, 0, 0, 0.85) 2px 2px 2px;
  margin: 40px 0 20px;
}
/* line 8, ../sass/title_divider/_title_divider.scss */
body #sb-site h1.title-divider:before, body #sb-site h1.title-divider:after {
  content: "";
  display: block;
  width: 10%;
  max-width: 40px;
  border-bottom: 1px solid #ffffff;
  margin: 20px auto;
  height: 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.9) 0 0 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.9) 0 0 10px;
  box-shadow: rgba(255, 255, 255, 0.9) 0 0 10px;
}
/* line 2, ../sass/dux_news/_dux_news.scss */
body #sb-site section.sound .under-sound {
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
/* line 7, ../sass/dux_news/_dux_news.scss */
body #sb-site section.sound .under-sound .show-disqus {
  margin-top: 20px;
  display: block;
}
